.black-background {
    background-color: black;
    color: white
}

.white-background {
    background-color: white;
}

.border {
    border:2px blue;
    padding: 4px;
}

.noBorder {
    border: 0px transparent;
}
